
<h1>Info confirmation </h1>
<center>
<h1>Name              {{form.Name}}</h1>
<h1>Date of birth     {{form.DOB}}</h1>
<h1> PhoneNumber      {{form.PhoneNumber}}</h1>
<h1> Email            {{form.email}}</h1>
<h1> Password         {{form:Password}}</h1>
 </center>

